DB_URL=jdbc:postgresql://localhost:5432/lostpaw
DB_USERNAME=postgres
DB_PASSWORD=your_database_password

JWT_SECRET=your_jwt_secret

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password